$primary-color: #f69123;


.glg{
    .col-3{
        height: 120px;
        max-width: 130px;
        border-radius: 20px;

        p{
            line-height: 00px;
            font-size: .65rem;
            font-weight: bold;
            margin: 10px 0px;
        }
        .small{
            font-size: .5rem;
        }
        h2{
            font-weight: bold;
        }
    }
}